# Don't track Android build files
sMessage/bin/*
sMessage/gen/*
sMessage/test/bin/*
sMessage/test/gen/*
android-support-v7-appcompat/bin/*
android-support-v7-appcompat/gen/*

# Don't track Java class files
*.class

# Don't track text editor temp files
*~

# Don't track Dolphin directory files
.directory